*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    
}

html, body{
    height: 100%;
    width: 100%;

    
}

.parent {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}

.card {
    height: 350px;
    width: 270px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.top img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 3px;
}

.top button{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #6c6565;
    border-radius: 10px;
    padding: 3px;

    gap: 3px;

    background-color: transparent;
    color: #6c6565;
}

.center {
    margin-top: 10px;
    /* background-color:    red; */
    padding: 20px;
}

.center .name{
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.center .name span{
    font-size: 11px;
    color: #6c6565;
    font-family: Arial, Helvetica, sans-serif;
}

.center .role{
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.center .multiple_tags{
    margin-top: 5px;
    display: flex;
    gap: 5px;
    

}

.center .multiple_tags .tag1 {
    background-color: #d0cbcb;
    border: 1px solid #b1b1b1;
    border-radius:  5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.center .multiple_tags .tag2 {
    background-color: #d0cbcb;
    border: 1px solid #b1b1b1;
    border-radius:  5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-bottom: 10px;
}

.bottom .price_place .price {
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom .price_place p{
    font-size: 15px;
    color: #5b5151;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom button{
    height: 50px;
    width: 100px;
    
    border: none;
    border-radius: 10px;

    background-color: black;
    color: white;

    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}


/* start doing bottom css and then check the yt video from 2:10:18 */